body {
    background-color: transparent; 
    background: linear-gradient(to bottom, #01012b, #092047);
    color: white; 
    font-family: 'Abel', Arial, Helvetica, sans-serif; 
}

h2 {
    color: white; 
    text-shadow: 0 0 10px #82C5FF, 0 0 20px #82C5FF;
    font-size: 2rem;
    font-weight: 400;
}

.card {
    background-color: transparent; 
    border: 1px solid white;
    box-shadow: 0 0 20px #82C5FF;
    border-radius: 5px;
}

.btn-login {
    background-color: white;
    border-color: white;
    color: #000;
    font-weight: bold;
    /* text-shadow: 0 0 10px #82C5FF; */
    border-radius: 5px;
}

.btn-login:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

.form-control {
    background-color: transparent; 
    border: 1px solid white;
    color: #ffff;
    box-shadow: 0 0 10px #82C5FF;
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    background-color: transparent;
    border-color: white;
    box-shadow: 0 0 10px #82C5FF;
}

a.text-light {
    color: #82C5FF;
}

a.text-light:hover {
    color: #82C5FF;
}

.card-header, .card-footer {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.card-body {
    padding: 20px;
}
