body {
    background-color: #01012b; 
    background: linear-gradient(to bottom, #01012b, #092047);
    color: #82C5FF; 
    font-family: 'Abel', Arial, Helvetica, sans-serif; 
}

h2 {
    color: #82C5FF; 
    text-shadow: 0 0 10px #82C5FF, 0 0 20px #82C5FF;
    font-size: 2rem;
    font-weight: 400;
}

.card {
    background-color: #0a0a0a; 
    border: 1px solid #82C5FF;
    box-shadow: 0 0 20px #82C5FF;
    border-radius: 5px;
}

.btn-primary {
    background-color: #82C5FF;
    border-color: #82C5FF;
    color: #000;
    font-weight: bold;
    text-shadow: 0 0 10px #82C5FF;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #82C5FF;
    border-color: #82C5FF;
    color: #000;
}

.form-control {
    background-color: #000; 
    border: 1px solid #82C5FF;
    color: #ffff;
    box-shadow: 0 0 10px #82C5FF;
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    background-color: #1b1b1b;
    border-color: #82C5FF;
    box-shadow: 0 0 10px #82C5FF;
}

a.text-light {
    color: #82C5FF;
}

a.text-light:hover {
    color: #82C5FF;
}

.card-header, .card-footer {
    border-bottom: 1px solid #82C5FF;
    border-top: 1px solid #82C5FF;
}

.card-body {
    padding: 20px;
}
